.profile-image-container {
  position: relative;
  width: 140px;
  height: 140px;
  margin: auto;
}

.profile-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 3px solid #007bff;
}

.camera-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-image-container:hover .camera-overlay {
  opacity: 1;
}
